@font-face {
    font-family: 'Myriad_Pro_Reg';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family:'Myriad_Pro_Reg', sans-serif;
    background: url(../img/fono.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
input::placeholder {
  color: white;
}

.box{
   margin-top: 5%;
}

/* Базовый контейнер табов */
.tabs {
   position: fixed;
   left: 350px;
   width: 650px;
   padding: 0px;
   margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
   display: none;
   padding: 0;
   background: #fff;
   border: 24px solid #03a1d4;
   border-radius: 8px;
}
.tabs>section>p {
   margin: 0 0 5px;
   line-height: 1.5;
   color: #383838;
 /* прикрутим анимацию */
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
   from {
    opacity: 0;
   }
   to {
    opacity: 1;
   }
}
@keyframes fadeIn {
   from {
    opacity: 0;
   }
   to {
    opacity: 1;
   }
}
/* Прячем чекбоксы */
.tabs>input {
   display: none;
   position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
   display: inline-block;
   font-size: 24px;
   font-weight: 400;
   text-align: center;
   color: #080808;
   border: 1px outset #fff;
   border-width: 1px 1px 1px 1px;
   background: #ffffff;
   border-radius: 8px 8px 0 0;
}

.tab1 {
   margin: 0 0 -1px 25px;
   padding: 3px 30px;
}
.tab2 {
   margin: 0 10px -1px;
   padding: 3px 10px;
}

/* Изменения стиля переключателей вкладок при наведении */
 
.tabs>label:hover {
   color: #888;
   cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
   font-weight: 500;
   color: #fff;
   text-shadow: 2px 2px #014e68;
   border-top: 1px solid #03a1d4;
   border-left: 1px solid #03a1db;
   border-right: 1px solid #03a1db;
   border-bottom: 1px solid #03a1db;
   background: #03a1db;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
    display: block;
}

.form {
  margin: 0;
  padding: 10px 20px;
  background-color: #080808;
  z-index: 9;
}
.form-input{
  width: 540px;
  padding: 15px;
  display: block;
  font-size: 24px;
  color: #ffffff;
  border: 1px solid none;
  border-radius: 5px;
  background: url(../img/Shape_4.png) no-repeat;
  background-size: 100% 100%;
}
.form-input-name {
  margin: 60px 1px 0px;
}
.form-input-pass {
  margin: 30px 0 20px;
}
.lost_pass{
  display: block;
  text-align: left;
  margin-left: 25px;
  color: red;
}
.checkbox{
  display: inline-block;
  margin: 50px 20px 25px 45px; 
  color: #6f6d6d;
}
.button{
  display: inline-block;
  position: absolute;
  left: 540px;
  top: 390px;
  width: 128px;
  height: 42px;
  font-size: 24px;
  font-weight: 500;
  border: none;
  border-radius: none;
  background: radial-gradient(50% 50%, #FF5600, #D00000);
  color: #ffffff;
}