p{
	text-align: justify;
}
.text-1{
text-decoration: underline;
}

.text-2{
	font-weight: bolder;
}

.text-3{
	font-style: oblique;
}

.header{
	text-align: center;
	background-color: red; 
}